table,
.dataTables_wrapper,
.modal {
    font-size: 15px !important;
}

.form-label {
    font-weight: normal !important;
}

.small-input {
    font-size: 14px;
    padding: 5px;
}

.flatpickr-calendar {
    font-size: 12px !important;
}

.toast {
    opacity: 1 !important;
}

p {
    font-size: 12px;
}

.new-card {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.new-card:hover {
    transform: scale(1.011);
    background-color: #f0f8ff;
}

.new-card:hover .icono {
    color: #91c6ff;
}

.status-indicator {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: auto; 
    transition: box-shadow 0.3s ease-in-out;
}

.active {
    background-color: #28a745;
    box-shadow: 0 0 8px 4px rgba(40, 167, 69, 0.6);
}

.inactive {
    background-color: #dc3545;
    box-shadow: 0 0 4px 2px rgba(220, 53, 69, 0.5);
}
