table,
.dataTables_wrapper,
.modal {
    font-size: 15px !important;
}

.form-label {
    font-weight: normal !important;
}

.small-input {
    font-size: 14px;
    padding: 5px;
}

.flatpickr-calendar {
    font-size: 12px !important;
}

.toast {
    opacity: 1 !important;
}

#passwordField {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

#passwordField.show {
    opacity: 1;
    max-height: 200px;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: normal !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    display: flex;
    align-items: center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
}

.select2-selection__clear {
    margin-right: 6px !important;
    position: relative !important;
    right: auto !important;
    top: auto !important;
    color: #d9534f;
    font-size: 16px !important;
    cursor: pointer;
}

.select2-container--default .select2-results__option {
    color: #000 !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    color: #000 !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #000 !important;
}
